# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# seu código aqui
anomalia_termica_com_indices = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                                 index=['1900', '1920', '1940', '1960', '1980', '2000', 2020])
anomalia_termica_com_indices

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperatura = pd.Series(data=dic_temperaturas)
temperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [14]:
arr = np.random.normal(100, 10, (20,3))
arr

# seu código aqui
dfarr = pd.DataFrame(arr)
dfarr

             0           1           2
0   109.582310  102.854802   96.126938
1   103.568664   86.716821  110.134065
2   103.168327  114.601383  116.490034
3    91.122880   94.806856   83.102093
4    94.376809  100.121371  101.891872
5   102.569966  107.306989   93.463508
6   105.754474  110.427779   95.198212
7   101.189644  103.353449   96.611417
8   100.893247   98.981231   90.320027
9    87.743969  107.612964   99.392653
10  101.843448  104.827627   94.832405
11  105.799349  104.114272  108.876104
12  103.753392   88.988448  106.186182
13  101.565101  104.362597   97.421367
14   89.868299   83.975951  109.200817
15   93.917158   89.808751   99.131002
16   95.703342   96.132601  116.275731
17   84.946560  110.986611   85.185288
18  103.065211  104.343990   87.046534
19  102.268019  109.459558  101.746232

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [17]:
#seu código aqui
dfarr = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index=range(1, 21))
dfarr

            x1          x2          x3
1   109.582310  102.854802   96.126938
2   103.568664   86.716821  110.134065
3   103.168327  114.601383  116.490034
4    91.122880   94.806856   83.102093
5    94.376809  100.121371  101.891872
6   102.569966  107.306989   93.463508
7   105.754474  110.427779   95.198212
8   101.189644  103.353449   96.611417
9   100.893247   98.981231   90.320027
10   87.743969  107.612964   99.392653
11  101.843448  104.827627   94.832405
12  105.799349  104.114272  108.876104
13  103.753392   88.988448  106.186182
14  101.565101  104.362597   97.421367
15   89.868299   83.975951  109.200817
16   93.917158   89.808751   99.131002
17   95.703342   96.132601  116.275731
18   84.946560  110.986611   85.185288
19  103.065211  104.343990   87.046534
20  102.268019  109.459558  101.746232

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [21]:
# seu código aqui
dfarr['media'] = (dfarr['x1']+dfarr['x2']+dfarr['x3'])/3
dfarr

            x1          x2          x3       media
1   109.582310  102.854802   96.126938  102.854683
2   103.568664   86.716821  110.134065  100.139850
3   103.168327  114.601383  116.490034  111.419915
4    91.122880   94.806856   83.102093   89.677277
5    94.376809  100.121371  101.891872   98.796684
6   102.569966  107.306989   93.463508  101.113488
7   105.754474  110.427779   95.198212  103.793488
8   101.189644  103.353449   96.611417  100.384837
9   100.893247   98.981231   90.320027   96.731502
10   87.743969  107.612964   99.392653   98.249862
11  101.843448  104.827627   94.832405  100.501160
12  105.799349  104.114272  108.876104  106.263242
13  103.753392   88.988448  106.186182   99.642674
14  101.565101  104.362597   97.421367  101.116355
15   89.868299   83.975951  109.200817   94.348356
16   93.917158   89.808751   99.131002   94.285637
17   95.703342   96.132601  116.275731  102.703891
18   84.946560  110.986611   85.185288   93.706153
19  103.065211  104.343990   87.046534   98.151912
20  102.268019  109.459558  101.746232  104.491270

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [22]:
# seu código aqui
dfarr['log_med'] = np.log(dfarr['media'])
dfarr

            x1          x2          x3       media   log_med
1   109.582310  102.854802   96.126938  102.854683  4.633317
2   103.568664   86.716821  110.134065  100.139850  4.606568
3   103.168327  114.601383  116.490034  111.419915  4.713306
4    91.122880   94.806856   83.102093   89.677277  4.496217
5    94.376809  100.121371  101.891872   98.796684  4.593064
6   102.569966  107.306989   93.463508  101.113488  4.616244
7   105.754474  110.427779   95.198212  103.793488  4.642403
8   101.189644  103.353449   96.611417  100.384837  4.609011
9   100.893247   98.981231   90.320027   96.731502  4.571939
10   87.743969  107.612964   99.392653   98.249862  4.587514
11  101.843448  104.827627   94.832405  100.501160  4.610169
12  105.799349  104.114272  108.876104  106.263242  4.665919
13  103.753392   88.988448  106.186182   99.642674  4.601591
14  101.565101  104.362597   97.421367  101.116355  4.616272
15   89.868299   83.975951  109.200817   94.348356  4.546994
16   93.917158   89.808751   99.131002   94.285637  4.546329
17   95.703342   96.132601  116.275731  102.703891  4.631850
18   84.946560  110.986611   85.185288   93.706153  4.540164
19  103.065211  104.343990   87.046534   98.151912  4.586516
20  102.268019  109.459558  101.746232  104.491270  4.649104